
:root{
    color-scheme: light dark;
    scroll-behavior: smooth;
}


body{
    background-color: #fcf4f1;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e2e2e2, #d7d7d79e), url(../img/floor.png);
}

.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;

    height: 100%;
    background: #ffffff;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 160px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #9bb0c5;
    border: 2px solid #ffffff;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #fffcfc;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 100px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #fff;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #3a3a3a;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #9bb0c5;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700;
    color: #9bb0c5;
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}


.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30px
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}

.image {
    position: relative;
    height: 285px;
    background: linear-gradient(-45deg, #d8d8d8 0%, #cfcdcf 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .image img{
    width: 50%;
    float: left;
    height: 95%;
    object-fit: cover;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .image img:hover{
    filter: drop-shadow(2px 4px 6px black);
  }

  .image svg {
    width: 100px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .image:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .image__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .image:hover .image__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .image__title {
    margin: 0;
    color: #333;
    font-weight: 700;
  }
  
  .image__description {
    font-size: 14px;
    color: #777;
    line-height: 1.4;
    text-align: right;
    padding: 10px;
  }
  
  .image:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  
.image .image__content .texto{
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.timeline-home{
    height: 100vh;
    width: 100vw;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #373434cf, #00000000), url(../img/home_floor.jpg);    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    mask-image: linear-gradient(black 90%, transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textos__home{
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    padding: 120px;
    filter: drop-shadow(2px 4px 6px black);
}

.textos__home .parrafo__home{
    color: #b9b9b9;
    width: 50%;
}

.textos__home .titles h1{
    font-weight: 900;
    font-size: xxx-large;
}

.old_content{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    justify-content: space-evenly;
}

.old_content .icon-svg{
    position: absolute;
    z-index: 10;
}

.old_content .title{
    z-index: 11;
    font-weight: 700;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-align: center;
}

.icon-to-hover{
    height: 20%;
}

.icon-to-hover svg{
    height: 50px;
    animation: click-animation 1s 3s linear infinite;
}

.image__description_list{
    font-size: small;
    text-align: start;
    color: #777;
}
@keyframes click-animation {
    0% { transform: scale(scale(0.75)) }
     25% { transform: scale(0.80)}
     50% { transform: scale(0.85)}
    75% { transform: scale(0.90)}
    100% { transform: scale(0.95)}
   }



.image:hover .old_content{ 
    scale: 0;
    transform: rotate(-45deg);
}

.navbarr{
    position: fixed;
    background-color: transparent;
    z-index: 100;
    width: 100vw;
    height: 10vh;
    display: block;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.nav__icon{
    width: 10%;
}

.nav__icon a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
}

.nav__objects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav__container{
    width: 50%;
}

.nav__list{
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: x-large;
    justify-content: space-around;
}

.nav__list li a{
    text-decoration: none;
    color: white;
    filter: drop-shadow(2px 4px 6px black);
    
}

.end_icon{
    width: 3%;
}

footer{
    background-color: #cfcfcf87;
    padding: 20px; 
    text-align: center; 
    font-family: Arial, sans-serif;
}

.divider{
    color: gray;
    font-size: large;
    font-weight: lighter;
}

.footer__link a{
    text-decoration: none;
    margin: 0 15px;
    color: white;

}

.footer__link a svg{
    width: 25px;
}
